:root {
    --c-brand: #34c3eb; 
    --c-primary: #2E2F42; 
    --c-additional: #4D5AE5; 
    --c-info: #434455;
    --c-background: #F4F4FD; 
    --c-background-bright: #2E2F42; 
    --c-hero-light: #FFF; 
    --c-button-primary: #4D5AE5; 
    --c-button-secondary: #7434eb; 
}

body {
    color: var(--c-primary);
    background-color: var(--c-background);
    font-family: 'Roboto', sans-serif;
}

/* Top line */
.logo {
    font-family: Raleway, sans-serif;
    color: var(--c-primary);
    font-size: 18px;
    font-weight: 700;
    line-height: 1,16; 
letter-spacing: 0,03;
text-transform: uppercase;
text-decoration: none;
}
.logo-accent {
    font-family: Raleway, sans-serif;
    color: var(--c-additional);
}
.logo-link {
    font-size: 16px;
    font-weight: 500;
line-height: 1,5; 
letter-spacing: 0,02;
}
.logo-link:hover,
.logo-link:focus {
    color: var(--c-brand);
}

.address-link {
    font-size: 16px;
    font-weight: 400;
line-height: 1,5;
letter-spacing: 0,02;
color: var(--c-info);
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* Hero section */
.hero-section {
    background-color: var(--c-background-bright);
}
.hero-title {
color: var(--c-hero-light);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0,02;
}
button {
    font-family: inherit;
}
.button-primary {
    color: var(--c-hero-light);
background-color: var(--c-button-primary);
border: none;
padding: 16px 32px;
cursor: pointer;
border-radius: 4px;
}
.button-primary:hover {
    color: var(--c-brand);
    background-color: var(--c-button-secondary);
}

.visually-hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section advantages */
.visually-hidden-link {
    color:var(--c-background-bright);
    font-size: 20px;
    font-weight: 500;
line-height: 1,2;
letter-spacing: 0,02;
}
.visually-hidden-text {
    color: var(--c-info);
    font-size: 16px;
    font-weight: 400;
line-height: 1,5;
letter-spacing: 0,02;
}

/* Sections*/
.header {
    color: var(--c-background-bright);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
line-height: 1,11;
letter-spacing: 0.02;
text-transform: capitalize;
}
.header-naming {
    color: var(--c-background-bright);
    text-align: center;
    font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02;
}
.header-text {
    color: var(--c-info);
    text-align: center;
    font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02;
}

/* Footer */
.footer {
    background-color: var(--c-background-bright);
}
.footer-text {
    color: var(--c-background);
    font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02;
}